.modal{
   display: none;
   position: fixed;
   z-index: 1;
   left:0;
   top:0;
   width: 102vw;
   height: 100%;
   background-color: rgba(255,255,255,0.96)
}
.wrapper{
animation-name: animationb;
animation-duration: 0.7s;

}
/* .menu {
   max-width: 320px;
   background-color: $background-color--white;
   box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2)

} */



.menu-header__button,
.footer__button {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background-color: $button-color;
   border: none;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
}
/* .modal--btn:hover{
   transform: scale(1.2) rotate(30deg);
   transition: 0.5s;
} */


.menu-header__list {
   /*Контейнер*/
   display: flex;
   list-style-type: none;
   margin-left: 0;
   padding-left: 0;
   align-items: center;
   margin-bottom: 32px;

}

.menu-header__button--burger {
   margin-left: 24px;
   margin-right: 17px;
}

.menu-header__logo {
   flex-grow: 1;
   margin-left: 16px;
   margin-top: 10px;
}

.menu-header__button--search {
   margin-top: 10px;
}

.main-menu {
   margin-left: 24px;
   /*  margin-bottom: 264px; */
   display: flex;
   flex-direction: column;
   margin-bottom: 32px;
}

.main-munu__list {
   /*Список*/
   margin-left: 0;
   padding-left: 0;
   margin-bottom: 270px;
}

.main-munu__item:nth-child(1)::before {
   content: url("../img/highlight.svg");
   display: block;
   transform: translate(-25px, 20px);
   height: 32px;
   width: 4px;

}

.main-menu__item {
   list-style-type: none;
   margin-bottom: 32px;
}

.main-menu__list {
   padding: 0px;
   margin: 0px;

}

.main-menu__link {
   display: block;
   text-decoration: none;
   font-size: 16px;
   color: $basic-black;
   font-family: "TT Lakes Medium", Helvetica, sans-serif;
   text-decoration: none;
}

.main-menu__link:hover,
:focus {
   opacity: 0.5;
   transition-duration: 0.7s;
}

.main-menu__link:hover:before {
   content: url("../img/highlight.svg");
   position: absolute;
   left: 0px;
   margin-top: -10px;
}


.wrap-footer {
   margin-left: 24px;
}

.footer__list-collection {
   margin-left: 0;
   padding-left: 0;
   display: flex;
   list-style-type: none;
   align-items: center;
   margin-bottom: 16px;
   flex-wrap: nowrap;
   justify-content: flex-start;

}

.footer__item-burger {
   margin-right: 16px;
}

.contacts__mail {
   margin-bottom: 12px;
}

.contacts__mail-link {
   font-size: 16px;
   color: $basic-black;
   font-family: 'TT Lakes Medium', Arial, Helvetica;
   text-decoration: none;

}

.contacts__tel-link {
   font-size: 24px;
   font-family: 'TT Lakes Medium',Arial, Helvetica, sans-serif;
   font-weight: bold;
   color: $basic-black;
   text-decoration: none;
}

.language__list {
   margin-left: 0;
   padding-left: 0;
   display: flex;
   list-style-type: none;
   margin-right: 7px;
   text-transform: uppercase;
   font-size: 16px;
   margin-top: 8px
}

.language__item {
   color: $basic-black;
   font-family: 'TT Lakes Medium',Arial, Helvetica, sans-serif;
   margin-right: 7px;
   cursor: pointer;
}
/*Модальный фон*/

@media (min-width:320px) {
   .menu{
      max-width: 320px;
      height: 676px;
   }

}


@media (min-width:360px) {
   .menu{
      max-width: 360px;
      height: 676px;
   }

}


@media (min-width:768px) {
   .menu{
      max-width: 360px;
      height: 1024px;
   }

   .menu-header__list {
      margin-bottom: 50px;
   }

   .main-menu {
      margin-bottom: 264px;
   }

   .language__list {
      margin-top: 40px;
   }

 .footer__list-collection{
    justify-content: flex-start;
   
 }

}

/*Стили для меню 1440*/
 @media (min-width:1440px){

   .modal {
     display: block;
     width: 320px;
     height: 100%;
     position: absolute;
     top:0;
     left:0;
     height:100%;
   }
   .menu{
      height: 100%;
      display: block;
   }

   .menu-header__button--hide{
      display: none;
   }
   .menu-header__list{
      justify-content: flex-start;
   }

   .menu-header__button--burger {
      margin-left: 16px;
      margin-right: 0px;
      
   }
   .main-menu {
      margin-bottom: 80px;
   }

}



