:root{
--swiper-theme-color:#B5B6BC;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 $swiper-pagination-bullet-horizontal-gap-cust;
}
.swiper-pagination-bullet{
    width: $swiper-pagination-bullet-width-cust;
    height: $swiper-pagination-bullet-height-cust
}

.swiper-pagination-bullet{
 background: $swiper-pagination-bullet-inactive-color-cust;
}


body{
    font-family: 'TT Lakes';
    background-color: $background-color--white;
}



.hide{
    display: none;
}
.hidden{
    display: none;
}



.button-mod--click:hover{
    transform: scale(1.2) rotate(30deg);
    transition: 0.5s;
}

@keyframes animation1
{
0% {right: 300px;
opacity: 0;
}
100%{
    top:0;
    opacity: 1;
}

}
@keyframes animationb
{
0% {left: 300px;
opacity: 0;
}
100%{
    top:0;
    opacity: 1;
}

}

.hidden__body{
    overflow: visible;
}